@tailwind base;
@tailwind components;
@tailwind utilities;


/* Page background grid */
.bg-grid {
  background-image: linear-gradient(#f3f3f3 1px, transparent 1px),
    linear-gradient(90deg, #f3f3f3 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.4;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
